
<div style="background-color:rgb(248, 247, 197); font-weight:bold;">
  <h4 class="display-5">Media Details</h4>
</div>

<form>
  <div class="container1">
    <div class="row">
      <div class="col fas fa-user-alt">
        <h4 class="display-5">{{media.title}}</h4>
        <img width="300vw" height="300vh" src={{media.url}} />
      </div>
      
      <div class="col" style="font-size: x-large;">
        <div class="btn-group btn-group-justified" style="width: auto; text-align: center;">
          <a href="#" class="btn btn-outline-info field">Sepia</a>
          <a href="#" class="btn btn-outline-info field">Grey</a>
          <a href="#" class="btn btn btn-outline-info field">Brightness</a>
          <a href="#" class="btn btn btn-outline-info field">Contrast</a>
        </div><br><br>

        <div class="wrapper">
          <h4>{{ media.description }}</h4>
        </div>

      </div>
    </div>
  </div>
</form>