.col-lg-3{
    padding: 0px;
    margin: 0px;
  }

.col-lg-6{
    padding: 0px;
    margin: 0px;
  }

.nav-link{
    color : rgba(221, 220, 220, 0.78);
    margin-left: 20px;
    margin-left: 20px;
    
}

 a:hover{
    color: white

}

a:active{
    color: white

}

img {
    width: 30%;
    height: 30px; 
    padding-left: 10%; 
    text-decoration: none;
}